@font-face {
    font-family: 'Bonheur Royale';
    font-style: normal;
    font-weight: 300;
    src: url('https://fonts.cdnfonts.com/s/24459/Bonheur Royale Regular.woff');
}

.username {
    font-family: 'Bonheur Royale', serif;
    font-size: 4em;
    color: darkolivegreen;
}

.header {
    margin: 0.5em 0.5em 1em;
    float: right;
}

.nav-item {
    margin: 0.5em;
}

a {
    color: black;
    text-decoration: none;
}

a:hover {
    color: darkolivegreen;
    text-decoration: none;
}

.active {
    color: darkolivegreen;
}

.app-info {
    margin-top: 0;
    padding-top: 0;
}

.quote-box {
    overflow-wrap: break-word;
    background-image: url("../../Resources/quote.png");
    background-size: cover;
    padding: 1em;
}

.quote-wall {
    padding: 1.5em;
}

.quotes {
    font-size: 2em;
    line-height: normal;
    color: black;
}

.color-plate {
    background-color: ghostwhite;
    padding: 0.5em;
}

.author {
    font-weight: bold;
    padding-top: 1em;
}

.nav-button {
    margin-top: 2em;
}

.ui.button {
    color: darkolivegreen;
    padding: 2em;
    margin: 4em;
}